<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
                    <h3 class="mb-0" *ngIf="mode==2">Crear</h3>
                    <h3 class="mb-0" *ngIf="mode==3">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                        <div class="card-body container">
                            <div class="row">
                                <div class="col-3">ID</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" formControlName="id"  disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-3">User</div>
                            <div class="col-9">
                                
                                <!-- Mostrar input readonly si está en modo view -->
                                <input *ngIf="mode === 1"
                                    type="text"
                                    class="form-control"
                                    [value]="userNameToShow"
                                    readonly />

                                <!-- Mostrar select si NO está en modo view -->
                                <select *ngIf="mode !== 1"
                                        class="form-control"
                                        formControlName="user_id">
                                <option value="">Seleccione un usuario</option>
                                <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
                                </select>

                                <!-- Validaciones -->
                                <div *ngIf="getTheFormGroup.user_id.errors && (getTheFormGroup.user_id.dirty || getTheFormGroup.user_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.user_id?.errors?.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">Content</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" 
                                        [disabled]="mode==1"
                                        [value]="mode === 1 ? '********' : theFormGroup.get('content')?.value">
                                    <div
                                        *ngIf="getTheFormGroup.content.errors && (getTheFormGroup.content.dirty || getTheFormGroup.content.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.content?.errors?.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getTheFormGroup.content?.errors?.minlength"
                                            class="msnError">Inválido
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-3">Start At</div>
                            <div class="col-9">
                                <!-- Si está en modo vista, mostrar el valor como solo texto -->
                                <input *ngIf="mode === 1"
                                    type="text"
                                    class="form-control"
                                    [value]="formatDateToView(theFormGroup.value.startAt)"
                                    readonly />
                                <input *ngIf="mode === 3"
                                    type="datetime-local"
                                    class="form-control"
                                    [value]="formatDateToView(theFormGroup.value.startAt)"/>
                                <!-- Si no está en modo vista, usar el input editable -->
                                <input *ngIf="mode === 2"
                                    type="datetime-local"
                                    class="form-control"
                                    formControlName="startAt" />

                                <div *ngIf="getTheFormGroup.startAt.errors && (getTheFormGroup.startAt.dirty || getTheFormGroup.startAt.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.startAt?.errors?.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-3">End At</div>
                            <div class="col-9">
                                <!-- Si está en modo vista, mostrar el valor como solo texto -->
                                <input *ngIf="mode === 1"
                                    type="text"
                                    class="form-control"
                                    [value]="formatDateToView(theFormGroup.value.endAt)"
                                    readonly />
                                <input *ngIf="mode === 3"
                                    type="datetime-local"
                                    class="form-control"
                                    [value]="formatDateToView(theFormGroup.value.endAt)"/>
                                <!-- Si no está en modo vista, usar el input editable -->
                                <input *ngIf="mode === 2"
                                    type="datetime-local"
                                    class="form-control"
                                    formControlName="endAt" />

                                <div *ngIf="getTheFormGroup.endAt.errors && (getTheFormGroup.endAt.dirty || getTheFormGroup.endAt.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.endAt?.errors?.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-9">
                                    <button type="button" class="btn btn-primary btn-block" (click)="back()"
                                        *ngIf="mode==1">Regresar</button>
                                    <button type="button" class="btn btn-success btn-block" (click)="create()"
                                        *ngIf="mode==2">Crear</button>
                                    <button type="button" class="btn btn-warning btn-block" (click)="update()"
                                        *ngIf="mode==3">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>