<div class="header bg-purple pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Devices</h3>
                    <button class="btn btn-success" (click)="create()">Crear</button>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>User</td>
                            <td>Name</td>
                            <td>IP</td>
                            <td>Operating System</td>
                            <td>Opciones</td>
                        </tr>
                        <tr *ngFor="let device of devices">
                            <td>{{device.id}}</td>
                            <td>{{getUserName(device.user_id)}}</td>
                            <td>{{device.name}}</td>
                            <td>{{device.ip}}</td>
                            <td>{{device.operating_system}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="view(device.id)">Ver</button>
                                <button class="btn btn-primary" (click)="edit(device.id)">Editar</button>
                                <button class="btn btn-danger" (click)="delete(device.id)">Eliminar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>