<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Permissions</h3>
                    <button class="btn btn-success" (click)="create()">Crear</button>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>Url</td>
                            <td>Method</td>
                            <td>Entity</td>
                            <td>Opciones</td>
                        </tr>
                        <tr *ngFor="let permission of permissions">
                            <td>{{permission.id}}</td>
                            <td>{{permission.url}}</td>
                            <td>{{permission.method}}</td>
                            <td>{{permission.entity}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="view(permission.id)">Ver</button>
                                <button class="btn btn-primary" (click)="edit(permission.id)">Editar</button>
                                <button class="btn btn-danger" (click)="delete(permission.id)">Eliminar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>