<div class="header bg-purple pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0" *ngIf="mode==1">Detalle</h3>
                    <h3 class="mb-0" *ngIf="mode==2">Crear</h3>
                    <h3 class="mb-0" *ngIf="mode==3">Actualizar</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="theFormGroup">
                        <div class="card-body container">
                            <div class="row">
                                <div class="col-3">ID</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" formControlName="id"  disabled>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-3">User</div>
                            <div class="col-9">
                                
                                <!-- Mostrar input readonly si está en modo view -->
                                <input *ngIf="mode === 1"
                                    type="text"
                                    class="form-control"
                                    [value]="userNameToShow"
                                    readonly />

                                <!-- Mostrar select si NO está en modo view -->
                                <select *ngIf="mode !== 1"
                                        class="form-control"
                                        formControlName="user_id">
                                <option value="">Seleccione un usuario</option>
                                <option *ngFor="let user of users" [value]="user.id">{{ user.name }}</option>
                                </select>

                                <!-- Validaciones -->
                                <div *ngIf="getTheFormGroup.user_id.errors && (getTheFormGroup.user_id.dirty || getTheFormGroup.user_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.user_id?.errors?.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                            </div>
                            <br>
                            <div class="row">
                            <div class="col-3">Security Question</div>
                            <div class="col-9">
                                
                                <!-- Mostrar input readonly si está en modo view -->
                                <input *ngIf="mode === 1"
                                    type="text"
                                    class="form-control"
                                    [value]="userQuestionToShow"
                                    readonly />

                                <!-- Mostrar select si NO está en modo view -->
                                <select *ngIf="mode !== 1"
                                        class="form-control"
                                        formControlName="security_question_id">
                                <option value="">Seleccione una pregunta</option>
                                <option *ngFor="let question of questions" [value]="question.id">{{ question.name }}</option>
                                </select>

                                <!-- Validaciones -->
                                <div *ngIf="getTheFormGroup.security_question_id.errors && (getTheFormGroup.security_question_id.dirty || getTheFormGroup.security_question_id.touched || trySend)">
                                <strong *ngIf="getTheFormGroup.security_question_id?.errors?.required" class="msnError">Requerido</strong>
                                </div>
                            </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3">Content</div>
                                <div class="col-9">
                                    <input type="text" class="form-control" 
                                        [disabled]="mode==1" formControlName="content">
                                    <div *ngIf="getTheFormGroup.content.errors && (getTheFormGroup.content.dirty || getTheFormGroup.content.touched || trySend)">
                                        <strong *ngIf="getTheFormGroup.content?.errors?.required"
                                            class="msnError">Requerido</strong>
                                        <strong *ngIf="getTheFormGroup.content?.errors?.minlength"
                                            class="msnError">Inválido
                                        </strong>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-9">
                                    <button type="button" class="btn btn-primary btn-block" (click)="back()"
                                        *ngIf="mode==1">Regresar</button>
                                    <button type="button" class="btn btn-success btn-block" (click)="create()"
                                        *ngIf="mode==2">Crear</button>
                                    <button type="button" class="btn btn-warning btn-block" (click)="update()"
                                        *ngIf="mode==3">Actualizar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>