<div class="container mt-5">
  <h1 class="display-4 text-center mb-4">{{ user.name }} - Profile</h1>

  <div class="row align-items-center">
    <!-- Foto a la izquierda más grande -->
    <div class="col-md-4 text-center">
      <img 
        [src]="user.photoUrl || 'https://via.placeholder.com/300x300'" 
        class="img-fluid  rounded-circle shadow"
         style="width: 300px; height: 300px; object-fit: cover;"
        alt="Foto de perfil"
      />
    </div>

    <!-- Datos del usuario -->
    <div class="col-md-8">
      <div class="mb-3">
        <h4><strong>Nombre:</strong> {{ user.name }}</h4>
      </div>
      <div class="mb-3">
        <h4><strong>Email:</strong> {{ user.email }}</h4>
      </div>
      <div class="mb-3">
        <h4><strong>Teléfono:</strong> {{ user.phone || 'No registrado' }}</h4>
      </div>
    </div>
  </div>
</div>
