<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
    <!-- Table -->
    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-header bg-transparent">
                    <h3 class="mb-0">Passwords</h3>
                    <button class="btn btn-success" (click)="create()">Crear</button>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td>Id</td>
                            <td>Content</td>
                            <td>StartAt</td>
                            <td>EndAt</td>
                            <td>Opciones</td>
                        </tr>
                        <tr *ngFor="let password of passwords">
                            <td>{{Password.id}}</td>
                            <td>{{Password.users}}</td>
                            <td>{{Password.roles}}</td>
                            <td>{{Password.startAt | date: 'dd/MM/yyyy'}}</td>
                            <td>{{Password.endAt | date: 'dd/MM/yyyy'}}</td>
                            <td>
                                <button class="btn btn-warning" (click)="view(password.id)">Ver</button>
                                <button class="btn btn-primary" (click)="edit(password.id)">Editar</button>
                                <button class="btn btn-danger" (click)="delete(password.id)">Eliminar</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>