.bg-gradient-danger {
  background: linear-gradient(87deg, #6a1b9a 0, #8e24aa 100%) !important;
}
.icon-shape {
  background-color: #6a1b9a !important;
}
.bg-danger,
.bg-warning,
.bg-info,
.bg-yellow {
  background-color: #6a1b9a !important;
}
